<!DOCTYPE html>
<html lang="en">
<title>Forside</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/start_side-style.css" th:href="@{/css/start_side-style.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <form th:action="@{/start_page}" method="POST">
        <div class="start_container">
            <div class="flexbox_outer">
                <a class="reference-format" th:href="@{/seeRecipes}">
                    <div class="flexbox_inner">
                        <img class="option-images pictureFrame" src="../../public/images/seeRecipes"
                             th:src="@{/images/seeRecipes.jpg}"
                             alt="customer-request_logo">
                        <h2>See your Recipes</h2>
                    </div>
                </a>
                <a class="reference-format" th:href="@{/addRecipes}">
                    <div class="flexbox_inner">
                        <img class="option-images pictureFrame" src="../../public/images/addRecipes"
                             th:src="@{/images/addRecipes.jpg}"
                             alt="order-history_logo">
                        <h2> Add new Recipes</h2>
                    </div>
                </a>
            </div>
        </div>
    </form>
</div>
</body>
</html>
