.start_container {
    background-color: #D1C4E9;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: "Inria Serif", serif;
    margin: 90px auto;
    width: 350px;
    height: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.flexbox_outer{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.flexbox_inner{
    display: flex;
    align-content: center;
    align-items: center;
    margin: 20px 0;
}
.pictureFrame {
    width: 140px; /* Adjust width as needed */
    height: 140px; /* Adjust height as needed */
    margin-bottom: 20px; /* Adjust margin between flexboxes */
    display: flex;
    border-radius: 50%; /* Adjust border radius for smooth corners */
}